{% extends 'base.html.twig' %}

{% block body %}
    <section class="main-banner main-banner-style-three text-white" data-bg-img="assets/img/banner-style3.jpg">
            <div class="swiper-container home-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="row banner-content align-items-center">
                                <div class="col-md-7">

                                    <h2 data-animate="fadeInUp" data-delay=".1">
                                        Bienvenue Dans La Prefecture De Pita
                                    </h2>
                                    <p data-animate="fadeInUp" data-delay=".2">
                                        La préfecture de Pita située dans la partie centrale du Fouta Djallon,dispose d'une superficie de 4.320 km2,elle est subdivisée
                                        en une commune urbaine et 11 Communautés Rurales de Développement
                                        (CRD).
                                    </p>
                                </div>
                                    <div class="col-md-5">
                                        <img data-animate="fadeInRight" data-delay=".5" src="assets/img/cloud-man.png" alt="">
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="row banner-content align-items-center">
                                <div class="col-md-5">
                                    <img data-animate="fadeInLeft" data-delay=".5" src="assets/img/cloud-man.png" alt="">
                                </div>
                                <div class="col-md-7">
                                    <h2 data-animate="fadeInUp" data-delay=".1">
                                        Pita Vous Souhaite La Bienvenue
                                    </h2>
                                    <p data-animate="fadeInUp" data-delay=".2"> 
                                        La préfecture de Pita située dans la partie centrale du Fouta Djallon,dispose d'une superficie de 4.320 km2,elle est subdivisée
                                        en une commune urbaine et 11 Communautés Rurales de Développement
                                        (CRD).
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination home-slider-pagination">
                </div>
            </div> 
        </section>
        <section class="pt-120 pb-120 bg-dark">
            <div class="container">
                    <div class="section-title">
                    <h2 data-animate="fadeInUp" data-delay=".1">Pourquoi Choisir whyinfos ?</h2>
                        <span id="contenu_new_p" data-animate="fadeInUp" data-delay=".2">WHYINFOS est l'un des meilleurs sites d'informations en Guinée, il dispose aussi des cours, exercices, formations qui sont gratuites et un système de réservation en ligne disponible dans plusieurs restaurants, boutiques, nightclub dans la ville de Pita.
                        </span>
                </div>
                    <div class="row text-center">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single-reason" data-animate="fadeInUp" data-delay=".1">
                                <img src="assets/img/performance.png" alt="">
                                    <h3>Rapide</h3>
                                        <p>
                                            Le chargement de notre site est ultra-rapide.
                                        </p>
                            </div>
                        </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="single-reason" data-animate="fadeInUp" data-delay=".3">
                                    <img src="assets/img/security.png" alt="">
                                        <h3>Simple</h3>
                                    <p>Nos informations sont accessibles en un clic 24h/24.</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="single-reason" data-animate="fadeInUp" data-delay=".5">
                                        <img src="assets/img/spam-guard.png" alt="">
                                        <h3>Securisé</h3>
                                            <p>Nous vous offrons un système de sécurité de haut niveau.</p>
                                </div>
                            </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="single-reason" data-animate="fadeInUp" data-delay=".7">
                                        <img src="assets/img/support.png" alt="">
                                            <h3>Utile à Pita</h3>
                                                <p>
                                                    Grâce à whyinfos vous êtes informé des actualités de la préfecture de pita en temps réel.
                                                </p>
                                    </div>
                                </div>
                    </div>
            </div> 
        </section>
        <section class="home-video text-center" data-animate="fadeInUp" data-delay=".1">
            <div class="container">
                    <img id="img_acceuil" src="assets/img/prefecture.jpeg" alt="">
            </div> 
        </section>
{% endblock %}
