    {% block javascripts %}
        <script src="/assets/js/jquery-3.2.1.min.js"></script> 
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/jquery-ui.min.js"></script>
        <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
        <script src="/assets/js/swiper.min.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script> 
        <script src="/assets/js/jquery.vmap.min.js"></script> 
        <script src="/assets/js/jquery.vmap.world.js"></script> 
        <script src="/assets/js/menu.js"></script> 
        <script src="/assets/js/isotope.pkgd.min.js"></script>
        <script src="/assets/js/fakeLoader.min.js"></script> 
        <script src="/assets/js/retina.min.js"></script> 
        <script src="/assets/js/jquery.waypoints.min.js"></script>
        <script src="/assets/js/scripts.js"></script>
    {% endblock %}
    

</body>
</html>