<footer class="footer text-light bg-secondary">
    <div class="copyright">
        <div class="container">
            <p data-animate="fadeInDown" data-delay=".9">
                Copyright &copy; {{ "now"|date("Y") }} All rights reserved <a href="#">Whyinfos</a>.
            </p>
        </div>
    </div>
</footer>
<div class="back-to-top">
    <a href="#"> <i class="fa fa-hand-pointer-o"></i> </a>
</div> 
